<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12" *ngFor="let order of orders; let i = index"><hr>
            <div class="col-sm-4"><img src="{{order.img}}" style="width: 40%; height: 100px; margin-left: 20px;"></div>
            <div scope="col" class="col-sm-4">{{i}}.{{order.carName}}<br>{{order.carDetails}}<br>{{order.carRating}}<br>{{order.price}}</div>
            <div class="col-sm-4"><button type="button" onclick="alert('Booking Confirmed!')" class="btn btn-success" (click)="onBookSubmit()">Book Now</button>
            </div>
        </div>
</div>
</div><br>

