.centered {
    position: absolute;
    top: 60%;
    left: 60%;
    font-size: 3.5em;
    color:rgb(248, 247, 247);
  }
  .bottom-left {
    position: absolute;
    bottom: -530px;
    left: 10%;
    font-size: 1.0em;
    color:rgb(248, 247, 247);
  }
  .container-fluid.abt_pg {
    padding: 0px;
  }