<div class="row">
    <div class="col-md-3">
<app-addash></app-addash>

    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
<table class="table">
    <tbody>
        <tr *ngFor="let book of books; let i = index">
            <td scope="col">{{i}}.{{book.feedback}}</td>
            <td ><button type="button" onclick="alert('Entry Deleted!')" class="btn btn-danger" (click)="deleteEntry()">Delete</button>
          </tr>
        </tbody>
  </table>