
<div class="container-fluid" style="padding: 0px;">
  <div class="content">
    <div class="sidenav">
      <h4 class="user_ts"><b>User Dashboard</b></h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a routerLink="/userbooking" (click)="onClick">My Booking</a></li>
        <li><a routerLink="/usercarreview">Car Review</a></li>
        <li><a routerLink="/userdriverrev">Driver Review</a></li>
        <li><a routerLink="/userfeed">Feedback</a></li>
      </ul><br>
    </div>
    </div>
</div>